<div class="container" style="padding-top: 150px;" id="about">
  <h1 class="text-center" style="font-family: 'Shadows Into Light';">¿ Quienes Somos ?</h1>
  <hr>
  <br>
  <p class="text-center" style="font-size: 1.2em; font-family:  'Raleway'; ">Somos panamakare, una iniciativa verde, pro-social y aventurera que busca mostrarte las bellezas de Panamá, de la forma más económica posible. Organizando trips (Excursiones) en donde nos aventuraremos a los sitios más espectaculares de nuestro país mediante la utilización del transporte público.</p>

  <p class="text-center" style="font-size: 1.2em; font-family:  'Raleway'; ">Nuestro objetivo es que conozcas nuevos lugares de una manera responsable y aportes a las comunidades que visitaremos</p>
  <p class="text-center" style="font-size: 1.2em; font-family:  'Raleway'; "> Nuestra meta es empoderar a las comunidades apartadas de Panamá que poseen exuberantes recursos naturales, para que se desarrollen de forma responsable, sostenible y sepas de lo que tu Panamá tiene para mostrarte.</p>
  <br>
  <hr>
</div>
<br>
<br>
<div style="background-color: black;" id="videos">
  <div class="container text-center" style="padding-top: 90px; padding-bottom: 90px;">
    <hr>
    <div style="">
       <iframe width="auto" height="315" src="https://www.youtube.com/embed/VfU1V-C_-V0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
    </div>
    <hr>
  </div>
</div>
<div class="container text-center " style="padding-top: 130px" id="redes">
  <h1 style="font-family: 'Shadows Into Light';">SIGUENOS</h1>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="social">
        <a href="https://www.instagram.com/panamakare/"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="social">
        <a href="https://www.youtube.com/channel/UC4nqtO1IIH7sHnlGIfjcP7g"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="social">
        <a href="https://api.whatsapp.com/send?phone=+50762132411"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
