<br>
<br>
<br>
<br>
<div class="container">
  <h1 class="text-center" style="font-family: 'Shadows Into Light';">Cuenta Panamakare</h1>
  <br>
  <hr>
  <div class="text-center">
    <p>Nombre de la cuenta: Panamakare</p>
    <p>Numero de cuenta: 04-72-98-217994-1</p>
    <p>Banco: Banco General</p>
    <p>Tipo de cuenta: Ahorros</p>
  </div>
  <hr>
</div>
