<div class="container text-center " style="padding-top: 150px" id="redes">
  <h1 style="font-family: 'Shadows Into Light';">Contactanos</h1>
  <hr>
    <div class=" text-center">
      <%= image_tag("LogoMakr_8aOmEp.png", class: "responsive", height: "200px") %>
      <h3>Panamakare</h3>

      <h4><i class="fas fa-envelope"></i> panamakare@gmail.com</h4>
      <a href="https://www.instagram.com/panamakare/" style="color: black"><h4><i class="fab fa-instagram"></i> @panamakare</h4></a>
      <h4><i class="fas fa-phone"></i> +507 6666-1442</h4>

      <h3 class="btn btn-panamakare" style="border-radius: 50px; color: black;"><a href="https://api.whatsapp.com/send?phone=+5076666-1442" style="color: white;">Escribenos</a></h3>
      <br>
      <br>
      <hr>
  </div>

</div>
