<div class="container" style="padding-top: 100px;">

    <h1>Nos vemos en el trip!</h1>
    <hr>
    <br>
    <p>Tu registro fue creado con exito, pronto el equipo de Panamakare se pondra en contacto contigo.</p>
    <br>
    <hr>
    <%= link_to root_path do %>
    <h4 class="btn btn-panamakare"> Home</h4>
    <% end %>
</div>
