<div class="container" style="padding-top: 100px;">

    <h1>¡Nos vemos en el trip!</h1>
    <hr>
    <br>
    <p>Tu registro fue creado con exito, pronto el equipo de Panamakare se pondra en contacto contigo.</p>
    <p><strong> *Para confirmar tu asistencia al trip debes tranferir el budget a la cuenta de PanamaKare en un termino de 48 horas!* </strong></p>
    <br>
    <hr>
    <%= link_to root_path do %>
    <h4 class="btn btn-panamakare"> Home</h4>
    <% end %>
    <%= link_to new_backpacker_path do %>
      <h4 class="btn btn-panamakare"> Registra otra persona</h4>
    <% end %>
</div>
