<div class="container" style="padding-top: 80px;">
  <h1 class="text-cemter">Terminos y condiciones</h1>
  <hr>
  <p> Liberación de responsabilidad por Actividades Recreativas, Renuncia a Reclamaciones, Aceptación Expresa de Riesgo y Acuerdo de Indemnización</p>
  <p>Aceptación Expresa de Riesgo Asociado a Actividades Recreativas.</p>
  <p>República de Panamá.
   <br>
   Yo, persona natural mayor de edad (18+) a través de este medio acepto y reconozco que he recibido la información completa en cuanto a los peligros y riesgos inherentes a las actividades recreativas generalmente descritas como tours, en adelante y para fines de este escrito “trips” de aventuras al aire libre, el transporte y todo lo referente a los tours, en adelante “trips”, el cual estoy dispuesto a participar.
 </p>
 <p>
   Los peligros y riesgos inherentes están presentes, pero no se limitan a:
   <br>
   1. El riesgo de lesión por la actividad, así como el potencial existente de incapacidad permanente y muerte.
   2. La posible falla de los transportes por causa propia o el de otras personas.
   3. Por ser una actividad al aire libre, existen riesgos relacionados con la exposición a elementos como el calor extremo, hipotermia, impacto corporal con el agua, la entrada de agua por orificios corporales, tropezar con objetos naturales o hechos por el hombre, exposición a animales con el riesgo de recibir golpes, mordeduras, sustos, huidas imprevistas causando daños y/o muerte.
   4. Mi propia negligencia y/o la negligencia de otros, incluido pero no limitado a un error del director del proyecto o el guía en la toma de decisiones en cuanto a una mala apreciación de acuerdo al clima, la ruta, el curso de un rio y la localización de la ruta.
   5. Encontrar o ser atacados por animales como insectos, reptiles y otros.
   6. Accidentes o dolencias ocurridas en lugares remotos donde no hay facilidades inmediatas de atención medica.
   7. Fatiga, resfriados y/o mareos, los cuales podrían disminuir mi/nuestro tiempo de reacción e incrementar el riesgo de accidente.

 </p>
 <p>
   * ENTIENDO QUE LA DESCRIPCIÓN DE ESTOS RIESGOS NO ESTÁ COMPLETA Y QUE LOS RIESGOS DESCONOCIDOS O NO ANTICIPADOS PODRÍAN DESENCADENAR DAÑOS, ENFERMEDADES Y SON INTRÍNSECAMENTE LIGADOS A LA ACTIVIDAD QUE SE ESTÁ PRACTICANDO POR LO QUE MANIFIESTO QUE LIBERO AL PROYECTO Y LOS MIEMBROS DE PANAMAKARE DE RESPONSABILIDAD POR MUERTE, TAMBIÉN MANIFIESTO MI RENUNCIA DE RECLAMACIÓN Y ACUERDOS DE INDEMNIZACIÓN.
 </p>
 <p>Tomando en consideración mi deseo de ser admitido a participar en las actividades descritas anteriormente, manifiesto que estoy de acuerdo, lo acepto y lo agradezco de antemano.
 </p>
 <p>
   POR ESTE MEDIO LIBERO Y EXENTO DE RESPONSABILIDAD CON RESPECTO A CUALQUIER DAÑO, LESIÓN, DISCAPACIDAD, MUERTE, pérdidas o daños a una persona o propiedad, SEA CAUSADA POR NEGLIGENCIA O NO. a través de este documento libero de toda responsabilidad a las personas o entidades nombradas a continuación:
 </p>
 <br>
 <p>
   · Libero de toda responsabilidad a los oficiales, directores, empleados, representantes, agentes, voluntarios, guías y todos los que guardan relación con el proyecto, de cualquier culpabilidad o causas de acción que yo, mis bienes, herederos, sobrevivientes, ejecutores, cesionarios podrían tomar por daños personales, daños de propiedad, muerte ilícita o lícita derivada de la actividad anteriormente mencionada, ya sea por negligencia activa o pasiva. Al firmar este documento, acepto mantener al proyecto PanamaKare fuera de cualquier acción que podría perjudicarla e indemnizarla en conjunción con cualquier lesión, discapacidad, muerte, daño a una persona o propiedad, pérdidas materiales o cualquier situación que podría ocurrir como resultado de la participación en las actividades mencionadas anteriormente.
   <br>
   · Al aceptar este acuerdo, no dependo en ninguna representación oral o escrita o declaraciones realizadas por los emisores, mas que las que están establecidas en este contrato.
 </p>
 <p>
  Este acuerdo será vinculante en la mayor medida permitida por la ley. Si alguna disposición de este comunicado se considera inaplicable, se aplicarán las condiciones restantes.
</p>
<p>
 HE LEIDO ESTE CONTRATO DE RESPONSABILIDAD Y ASUMO DE RIESGO, Y ENTIENDO PERFECTAMENTE SUS TERMINOS, Y COMPRENDO QUE HE RENUNCIADO A LOS DERECHOS LEGALES AL FIRMARLO, EL CUAL FIRMO LIBRE Y VOLUNTARIAMENTE SIN NINGUNA PERSUACIÓN.
 AL PARTICIPAR EN LOS TRIPS ORGANIZADOS POR PANAMAKARE, RECONOZCO QUE HE LEIDO, ENTENDIDO Y ACEPTADO SER PARTE EN LA RENUNCIA ANTERIOR.
</p>
<p>
  Política de Donaciones – PanamaKare
</p>
<p>Acepto y entiendo que las donaciones que brindo tanto en tiempo personal, como donaciones en especias, las entrego voluntariamente y en pleno conocimiento de lo que estoy donando y en ningún momento requeriré un pago por mi tiempo o lo que dono. </p>
<p>Entiendo y acepto que PanamaKare no hace devoluciones de donaciones de ningún tipo salvo que se compruebe que la donación brindada fue un monto o cantidad accidental.
</p>
<p>Entiendo y acepto que el proyecto PanamaKare fijará una taza/cuota por participación en los trips que será proporcional a la lejanía o cercanía, dificultad o facilidad de los trips que se organicen y acepto que dicha cuota, que voluntariamente estoy brindando sea utilizada pero no se limite a:
  <br>
  1.Viáticos y gastos del staff de PanamaKare.
  <br>
  2.Cubrir gastos varios que sean relacionados a mantener el proyecto en pleno funcionamiento tales como, pero que no se limitan a mantenimiento de la página web, publicidad, o cualesquiera que sean considerados por el director del proyecto y sus asesores.
  <br>
  3.Donaciones monetarias a las comunidades, que serán destinadas, pero no se limitan a, el mejoramiento de las infraestructuras donde habiten las personas de la comunidad, apoyo para que puedan preparar alimentos y venderlos, cualesquiera donaciones que el director del proyecto o su staff determine.
</p>
<p>Uso de Imagen – PanamaKare </p>
<p>AUTORIZACION DE USO DE IMAGEN
  <br>
  1.  Declaro que autorizo al Proyecto PanamaKare y sus miembros a que utilice total o parcialmente mi imagen, mi voz y/o reacciones, a fin de que la misma sea divulgada y/o incorporada con fines publicitarios únicamente en las redes sociales que no se limitan a, pero tales como, Instagram , Facebook, Youtube, Twitter y cualesquiera que sean determinadas por el Proyecto PanamaKare, siendo asimismo posible dicha utilización en el marco de otras campañas de interés público que se generen en lo sucesivo en el ámbito del Proyecto PanamaKare.
  Por su parte el Proyecto PanamaKare se compromete solamente a utilizar total o parcialmente su imagen, su voz y/o reacciones de forma honrada, bajo los parámetros del respeto y sin ánimos de lucro. Se compromete a que será utilizada solamente como medio de promoción del proyecto.
  <br>
  2.  En tal sentido autorizo al proyecto PanamaKare, a que, durante la emisión de la publicidad, incluya y edite la imagen, y ejecute todo otro acto encaminado a la divulgación del contenido, sin restricciones ni límites temporales, así como de medios para su reproducción y/o difusión.
  <br>
  3.  Dejo expresa constancia que por medio del presente documento cedo de manera gratuita al proyecto PanamaKare, el derecho a divulgar mi Imagen en en las redes sociales que no se limitan a, pero tales como, Instagram , Facebook, Youtube, Twitter y cualesquiera que sean determinadas por el Proyecto PanamaKare.
</p>
<p>El proyecto PanamaKare en cumplimiento de la Ley 81/2019, de 26 de marzo, sobre protección de Datos Personales, le informa de que:
  <br>
  La información facilitada por el USUARIO a través de cualquiera de los formularios del SITIO WEB será incluida en uno o varios ficheros responsabilidad del Proyecto PanamaKare utilizados solamente para poseer un registro de las personas que asistan a los trips, por ende se compromete a no divulgar ninguna información brindad por el USUARIO en la medida de lo posible sabiendo que al tratarse de datos en internet pueden ser hackeados, en dado caso PanamKare se deslinda de la responsabilidad de lo que suceda con estos datos.
</p>
<p>
  Por medio de la aceptación de los presentes Términos de Uso, el Usuario manifiesta:
  · Que ha leído, entiende y comprende lo aquí expuesto.
  · Que asume todas las obligaciones aquí dispuestas.
  · Que es mayor de edad y tiene la capacidad legal suficiente para utilizar el Servicio.
</p>
<hr>
</div>
