<div class="container" style="padding-top: 150px;">
  <h1 class="text-center" style="font-family: 'Shadows Into Light';">WeKare</h1>
  <hr>
  <h2>Proyecto: Comunidades Sostenibles</h2>
  <p>Gracias a donaciones de negocios y héroes locales hemos ayudado a más de 100 familias con necesidad en Panamá Oeste y Coclé en este difícil tiempo de cuarentena. </p>
  <p>¿Qué buscamos?</p>
  <p>Construiremos gallineros con materiales 100% reciclados, para estas familias, brindándoles los materiales, los pollitos y el alimento para estos.A su vez donaremos huertos a estas familias para que puedan cultivar sus propios vegetales y granos. <br>
  ¡Asegurándonos de que no solo coman 1 o 2 semanas, sino meses y hasta años!</p>
  <p>¿Qué incluye todo lo que buscamos dar? </p>
  <p>Todo lo anterior mencionado y adicional una bolsa de comida surtida para cada una de estas familias antes de iniciar la construcción de sus gallineros y huertos. </p>
  <p>A su vez les daremos el seguimiento a todas las familias que sean parte del proyecto, así como asesoría que necesiten tanto en la cría se pollos como el cuidado de sus huertos. </p>
  <p>¿Cómo esto beneficiará a estas comunidades? </p>
  <p> Buscamos enseñarles a emprender con lo que tienen.
    1. Podrán vender los huevos que las gallinas den ya sea a sus vecinos o conocidos y a su vez utilizarlos para consumo propio. (les enseñaremos el trato correcto a la cría de estos animales sin ningún tipo de maltrato) <br>
  2. Podrán vender los vegetales o granos que cosechen, también podrán hacer creaciones con esto como tamales, empanadas, dulces, etc. Así como también usarlo para consumo propio.</p>
  <p>¿Cuántas familias buscamos aportar? </p>
  <p>Las que tus donaciones nos permitan llegar, ya iniciamos con 2 familias  de escasos recursos en el Valle de Antón, donandoles el gallinero y su huerto, surtido con semillas de poroto, maíz y plantas de tomate, maracuya, pimentones, tamarindos.</p>
  <p>¿Cómo puedes aportar? </p>
  <p>1. Comparte esta iniciativa con tus conocid@s. <br>
    2. Donación se pollitos, alimento para estos o plantas, semillas, de vegetales, frutas o granos para los huertos. <br>
  3. Donación en efectivo, puede ser desde 0.01 centavos hasta lo que tu corazón y economía te permita dar.</p>
  <p>“El que le suple semilla al que siembra también le suplirá pan para que coma, aumentará los cultivos y hará que ustedes produzcan una abundante cosecha de justicia.” ‭‭ <strong>¡Cualquier ayuda es más que importante y bienvenida!</strong></p>
  <br>
  <a href="/bank"><p class="btn btn-panamakare">Donar</p></a>
  <br>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h4>Total Donado: <%= @money %> $</h4>
      <br>
      <h4>Lista de Donaciones</h4>
      <% @donations.each do |donation| %>
      <h5> <%= donation.name %> <%= donation.donation %>0$ </h5>
      <% end %>

    </div>
    <div class="col-md-6">
      <h4>Total Gastado:</h4>
      <br>
      <h4>Lista de Gastos</h4>

      <p>Facturas</p>
    </div>
  </div>

</div>
